html {
  scroll-behavior: smooth;
}

.zfaq_container {
  width: 80%;
  margin: auto;
}
.ztitle {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(135, 150, 148, 1);
}

.selectorContainer {
  margin: 1rem;
  gap: 1rem;
}

.zfaqSectionTitle {
  color: white;
  background-color: rgba(135, 150, 148, 1);
}
.zfaqSection {
  margin-top: 2rem;
}

.zfaqSection:last-child {
  margin-bottom: 2rem;
}

.zfaqSectionQA {
  margin: 1rem 0rem 1rem 0rem;
}
