/* 
  kuma站內插圖的配色
*/
:root {
  --c01: rgb(16, 24, 32);
  --c02: rgb(131, 151, 148);
  --c03: rgb(0, 54, 61);
  --c04: rgb(128, 128, 128);
  --c05: rgb(170, 151, 103);
  --c06: rgb(255, 255, 255);
  --c07: rgb(0, 54, 61);
  --c08: rgb(117, 122, 77);
  --c09: rgb(170, 151, 103);
  --c10: rgb(131, 151, 148);
  --c11: rgba(155, 174, 171, 1);
  --c11_transparent: rgba(155, 174, 171, 0.3);

  --c12: rgb(0, 0, 0);
  --c13: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

/* mobile */
@media (max-width: 799px) {
  /* 主版寬度 - mobile */

  .zfaq_container {
    width: 90%;
    margin: auto;
  }

  /* 主圖視 - mobile */

  .ztitle {
    height: 40vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* background-color: var(--c03); */

    background: linear-gradient(
        to right,
        rgba(128, 128, 128, 0.7) 5%,
        rgba(128, 128, 128, 0) 70%
      ),
      var(--c03);
    gap: 0.5rem;
  }

  .imgFAQ {
    width: 30%;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5));
  }

  .zText {
    color: var(--c11);
  }

  .zFaqEN {
    display: flex;
    flex-direction: column;
    padding-left: 0.1rem;
  }
  .zFaqEN > .zFaqTitle-EN {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
  }
  .zText > .zFaqTitle-CN {
    font-size: 2rem;
    letter-spacing: -0.1rem;
  }

  /* FAQ內容寛度 - mobile */
  .zfaqContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
  }

  /* FAQ內容>快速選擇 - mobile */
  .zfaqSelectors {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .zfaqSectionQA {
    flex-direction: column;
  }

  /* 錨點偏移 */
  :target {
    padding-top: 65px;
    margin-top: -65px;
  }
}

/* tablet */
@media (min-width: 800px) and (max-width: 1199px) {
  /* 主版寬度 - tablet */

  .zfaq_container {
    width: 90%;
    margin: auto;
  }

  /* 主圖視 - tablet */
  .ztitle {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--c03); */

    background: linear-gradient(
        to right,
        rgba(128, 128, 128, 0.7) 5%,
        rgba(128, 128, 128, 0) 70%
      ),
      var(--c03);
    gap: 1rem;
  }

  .imgFAQ {
    width: 25%;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5));
  }
  .zText {
    display: flex;
    gap: 1rem;
    color: var(--c11);
    justify-content: center;
    align-items: center;
  }

  .zFaqEN {
    display: flex;
    flex-direction: column;
  }
  .zFaqEN > .zFaqTitle-EN {
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 0.05rem;
  }
  .zText > .zFaqTitle-CN {
    font-size: 4rem;
    letter-spacing: -0.1rem;
  }

  /* FAQ內容寛度 - tablet */
  .zfaqContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
  }

  /* FAQ內容>快速選擇 - tablet */
  .zfaqSelectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .zfaqSectionQA {
    flex-direction: row;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .zfaq_container {
    width: 75%;
    margin: auto;
    max-width: 1800px;
  }

  .ztitle {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--c03); */
    background: linear-gradient(
        to right,
        rgba(128, 128, 128, 0.7) 5%,
        rgba(128, 128, 128, 0) 70%
      ),
      var(--c03);
    gap: 0.5rem;
  }

  .zText {
    display: flex;
    gap: 1rem;
    color: var(--c11);
    justify-content: center;
    align-items: center;
  }
  .imgFAQ {
    width: 20%;
    padding: 2rem 0rem 2rem 0rem;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5));
  }

  .zFaqEN {
    display: flex;
    flex-direction: column;
  }
  .zFaqEN > .zFaqTitle-EN {
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
  }
  .zText > .zFaqTitle-CN {
    font-size: 5rem;
    letter-spacing: -0.1rem;
  }

  .zfaqContents {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
  }

  /* FAQ內容>快速選擇 - desktop */
  .zfaqSelectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .zfaqSectionQA {
    flex-direction: row;
  }
}

.selectorContainer {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  background: var(--c11_transparent);
  box-shadow: 0px 1px 1px var(--c01);
}

.zfaqSelector {
  padding-top: 0.5rem;
}

.zfaqSelector li {
  list-style: square;
  margin-left: 1rem;
}

/* FAQ內Q&A單元  */
.zfaqSection {
  margin-top: 1rem;
}

.zfaqSection:last-child {
  margin-bottom: 2rem;
}

/* FAQ內Q&A單元 > 標題 */
.zfaqSectionTitle {
  text-align: center;
}

.zfaqSectionTitle > h2 {
  color: white;
  padding: 0.2rem 0rem;
  background: linear-gradient(
      to right,
      rgba(128, 128, 128, 0.7) 5%,
      rgba(128, 128, 128, 0)
    ),
    var(--c03);
}

/* FAQ內Q&A單元 > Q&A內容 */
.zfaqSectionQA {
  display: flex;
  gap: 5%;
  margin: 1rem 0.2rem 1rem 0.2rem;
  border-bottom: solid var(--c11) 0.2rem;
  /* to top的連結設定 */
  flex-wrap: wrap;
  justify-content: flex-end;
}
.zfaqSectionQA:last-child {
  border-bottom: none;
}
.zfaqSectionQ {
  flex: 0 0 30%;
}
.zfaqSectionA {
  flex: 0 0 65%;
  text-align: justify;
}

.zfaqSectionA > p > a {
  text-decoration: underline;
  white-space: nowrap;
}
.backToTop {
  grid-column: 4;
  text-align: right;
  font-weight: bold;
}
